<div class="container">
    <div class="store-content">
        <div class="frame">
            <div class="frame-left">
                <div class="phone-img"></div>
            </div>
            <div class="frame-right">
                <div class="qr-container">
                    <div class="qr-img"></div>
                    <div class="title-desc">
                        <div class="store-title">Çiçek Sepeti Mobil Uygulamayı İndirin</div>
                        <div class="store-description">Mobil Uygulamayı QR Kod ile İndirin.</div>
                    </div>
                </div>
                <div class="store-icons">
                    <div class="google-play-img"></div>
                    <div class="app-store-img"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="links">
        <div class="social-container">
            <div class="logo"></div>
            <div class="social-icons">
                <div class="facebook icon"></div>
                <div class="twitter icon"></div>
                <div class="instagram icon"></div>
                <div class="youtube icon"></div>
                <div class="blog icon"></div>
            </div>
            <div class="kvkk">
                <span>CicekSepeti.com olarak kişisel verilerinizin gizliliğini önemsiyoruz. 6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamında oluşturduğumuz aydınlatma metnine <u>buradan</u> ulaşabilirsiniz.</span>
            </div>
        </div>
        <div class="navigation">
            <div class="nav-group">
                <div class="nav-header">Faydalı Bilgiler</div>
                <div class="nav-link">Çiçek Bakımı</div>
                <div class="nav-link">Çiçek Eşliğinde Notlar</div>
                <div class="nav-link">Çiçek Anlamları</div>
                <div class="nav-link">Özel Günler</div>
                <div class="nav-link">Mevsimlere Göre Çiçekler</div>
                <div class="nav-link">BonnyFood Saklama Koşulları</div>
                <div class="nav-link">Site Haritası</div>
            </div>
            <div class="nav-group">
                <div class="nav-header">Kurumsal</div>
                <div class="nav-link">Hakkımızda</div>
                <div class="nav-link">Kariyer</div>
                <div class="nav-link">ÇiçekSepeti’nde Satış Yap</div>
                <div class="nav-link">Kurumsal Müşterilerimiz</div>
                <div class="nav-link">Reklamlarımız</div>
                <div class="nav-link">Basında Biz</div>
                <div class="nav-link">Kampanyalar</div>
                <div class="nav-link">Vizyonumuz</div>
            </div>
            <div class="nav-group">
                <div class="nav-header">İletişim</div>
                <div class="nav-link">Bize Ulaşın</div>
                <div class="nav-link">Sıkça Sorulan Sorular</div>
            </div>
            <div class="nav-group">
                <div class="nav-header">Gizlilik Sözleşmesi</div>
                <div class="nav-link">Mesafeli Satış Sözleşmesi</div>
                <div class="nav-link">Bilgi Toplumu Hizmetleri</div>
                <div class="nav-link">Gizlilik Sözleşmesi</div>
                <div class="nav-link">Ödeme Seçenekleri</div>
                <div class="nav-link">Hesap Bilgileri</div>
            </div>
        </div>
    </div>
    <div class="description">
        <span>Türkiyenin en büyük online çiçek sitesi ÇiçekSepeti ile sevdiklerinizi mutlu etmek çok kolay! Çiçek göndermenin ve “Mutlu etmenin adresi” Çiçek Sepeti ile sevdiklerinize özel günlerde online çiçek gönderebilirsiniz. Geniş çiçekçi ağı sayesinde çiçek siparişleriniz Türkiye’nin dört bir yanına hızlı ve sorunsuz şekilde gönderilir. Taze çiçeklerle hazırlanan mis kokulu şık çiçek aranjmanları arasından beğendiğiniz ürünü seçerek, hızlı bir şekilde online sipariş verebilirsiniz. Sevdiklerinizin doğum günü, yıldönümü gibi mutlu günlerinde onların sevincine ortak olmak için yapmanız gereken sadece birkaç tıkla sipariş vermek. Sevgililer Günü, Kadınlar Günü, Anneler Günü gibi özel günlerde de çiçek, hediye ve lezzetli bonnyFood ürünleriyle sevdiklerinizi mutlu edebilirsiniz. Çünkü mutlu etmenin adresi; ÇiçekSepeti.</span>
    </div>
    <div class="copyright">
        <span>Copyright © 2019 Çiçek Sepeti İnternet Hizmetleri A.Ş</span>
    </div>
</div>