$white:#FFFFFF;
$black:#000000;

$customRed: #FF5B4D;
$customBlue: #044DC3;
$customGreen: #51B549;
$customYellow: #FFCE00;
$customGrey:#F7F7F7;

$borderLightGrey: #EDF1F2;
$borderGrey: #E2E7E9;

$campaignBlue: #E8F1FF;
$campaignGreen: #E2F7E1;
$campaignRed:#FFEAE8;
$campaignText:#E64E41;

$textDarkGrey: #555555;
$textWhite: #FFFFFF;
$textGrey: #707070;
$textBlack:#000000;

$footerBgLightGrey:#F2F2F2;
$footerBgDarkGrey:#E6E6E6;
